
.navbar-collapse{
    height: auto !important;
 }
 .flex-row{
     flex-direction: row !important;
 }
.overflow-auto{
    overflow: auto !important; 
}
.overflow-hidden{
    overflow: hidden !important;
}