.content.container {
    margin-top: 2rem;
}
.nav-pills .nav-item .nav-link.active {
    background-color: unset;
    color: #f7765f;
}
.nav-pills .nav-item .nav-link {
    color: #85817c;
}
.nav-pills .nav-link.active {
    color: #f7765f;
    background-color: unset;
}
.card a:not(.btn):hover, 
.card a:not(.btn):focus {
    color: #f7765f;
}
.card a:not(.btn) {
    color: #85817c;
}
#pills-tab .nav-item .nav-link,
.card {
    border: unset;
    border-radius: unset;
}
.bg-grey {
    background-color: #f7f7f7;
}
#v-pills-tabContent label {
    display: inline;
}
/* errors */
label.error {
    color: red;
    padding-left: 13px;
}
/* Footer */
/* footer.section {
    width: 100%;
    position: fixed;
    bottom: 0;
} */