.nav-pills .nav-item .nav-link.active {
    background-color: #9ee1bc;
    color: #85817c;
}
.nav-pills .nav-item .nav-link {
    color: #85817c;
}
#pills-tab .nav-item:last-child .nav-link {
    border-radius: unset;
}
#pills-tab .nav-item:first-child .nav-link {
    border-radius: unset;
}
/* Footer */
footer.section {
    width: 100%;
    position: fixed;
    bottom: 0;
}